<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My First Sinatra App</title>
  </head>
  <body>
    <h1>Welcome to my Sinatra App</h1>
    <%= @name.capitalize.upcase.reverse %>
  </body>
</html>
