<h1>All Posts</h1>
<%= link_to("New Post", new_post_path, class: "btn btn-primary") %>
<div>
  <% @posts.each do |p| %>
    <div class="well">
        <%= p.title %>
        <%= link_to "Show", post_path(p) %>
    </div>
  <% end %>
</div>
