
<form method="post" action="/background">
<div>
  <input type="radio" name="background" value="blue">Blue<br>
  <input type="radio" name="background" value="red">Red<br>
</div>
<div>
  <input type="submit" value="Submit">
</div>
