extends ../layout

block content
  h1.
    #{title}
  ul
    - each question, i in questions
      li
        = question.title + ", "
        = question.body + ", "
        = question._id
        form(action='/questions/#{question._id}/edit', method='post', enctype='application/x-www-form-urlencoded')
          input(type='hidden', value='DELETE', name='_method')
          button(type='submit').
            Delete
          p
            a(href='/questions/#{question._id}/edit') Edit
          p
            a(href='/questions/#{question._id}') Show
